table {
    width: 80vw;
    border-collapse: collapse;
    border: 2px solid #8c8c8c;
    font-family: "Google Sans Flex", "Noto Sans JP", "Noto Color Emoji", sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: #5996ff38;
}

th,
td {
    border: 1px solid #a0a0a0;
    padding: 10px 10px;
    text-align: center
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: #edeef2;
}

.tableLeft {
    text-align: left;
}

.tableCenter {
    text-align: center;
}

.mei {
    font-weight: 600;
    padding-left: 100px;
}

@media screen and (max-width: 768px) {
    .mei {
        padding-left: 12px;
    }
}

.kubun {
    width: 20%;
    min-width: 60px;
}

.jmPoint {
    width: 10%;
    min-width: 20px;
}